

*, :before, :after {box-sizing:border-box;}
html {font-size: 62.5%;}
body {font: 1.2rem Arial, "Microsoft YaHei";}
body,html{
  font-family: 'PingFang SC', 'STHeitiSC-Light',
  'Helvetica-Light', arial, sans-serif;
  height:100%;color:#000;background-color: #f4f4f4;
}
.fr {float: right;}
.fl {float: left;}
i{font-style:normal;display: inline-block;width:1.6rem;height:1.6rem;background-repeat: no-repeat;background-position: center;background-size: contain;}
.clearfix{
  display: inline-block;
  &:after{
    display: block;
    content: '';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}
a {
    color: #000;
}
a:hover {
  cursor: pointer;
  color: #000;
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,.2);
  font-size: 1.8rem;
  text-align: center;

}
select,
input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
}
.NOcontent{
  background:#f2f2f2 url('../../img/NOcontent@3x.png') no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 220px 264px;
  background-position: center 20vh;
}

@media(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
{
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
{
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}


@media only screen and (max-width: 414px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 62.5%;
  }
}
